<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../styles.css"/>
        <!--Let browser know website is optimized for mobile-->
        <!-- Latest compiled and minified CSS -->
</head>

  <body>
  <%- include header %>
  <%# include navbar %>
  <%- include best-seller %>
    <%# include('./header') %>

     <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center"><%=console%></h1>
          </div>
        </div>
        <div class="row">
              <% games.forEach(function(game){ %>
                <%- include('game-preview', {game: game, colsize: 'col-sm-3 col-xs-6'}); %>
              <% }); %>
        </div>
      </div>
    </div>



    <%- include footer %>

    <script src="../vendor.js"/>
    <script src="../bundle.js"/>
  </body>
  </body>
</html>
