 <div class="<%=colsize%>">
         <figure>
            <img src="<%=game.imgFullPath%>"
                    class="img-responsive">
                  <a href="/game/<%=game._id%>">
                   <h2><%=game.title%></h2>
                  </a>
                    <p><%=game.platform%>
                      <br><%=game.price%>$
                      <br>precio por internet</p>
         </figure>
</div>
<script>
</script>
