<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/images/Icons/delzargames-icon.png"/>

        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="styles.css">
  </head>
  <body>


    <%#= games %>

    <%# for (var css in htmlWebpackPlugin.files.css) { %>
        <%#=htmlWebpackPlugin.files.css[css] %>
    <%# } %>

   <!-- si utiliza ejs-compiled-loader es necesario utilizar src/pathToFile -->
   <%#- include src/header %>
   <%- include header %>

   <!-- si utiliza ejs-compiled-loader es necesario utilizar src/pathToFile -->
   <%#- include src/best-seller %>
   <%- include best-seller %>


   <%# include('./header') #%>

   <%- include('game-gallery', {games: ps3Games, console: 'PS3'}) %>
   <%- include('game-gallery', {games: ps4Games, console: 'PS4'}) %>
   <%- include('game-gallery', {games: xbox360Games, console: 'XBOX 360'}) %>
   <%- include('game-gallery', {games: xboxOneGames, console: 'XBOX ONE'}) %>
   <%- include('game-gallery', {games: dsGames, console: '3DS'}) %>
   <%- include('game-gallery', {games: wiiuGames, console: 'WIIU'}) %>

   <%#- include footer #%>
   <%- include footer %>


    <div id="users">
    </div>

    
    <script src="vendor.js"></script>
    <script src="main.js"></script>
  </body>
</html>
